<ng-container *ngIf="authService.isAdmin(); else unauthorized">
  <p-table [value]="clients" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fullName">Full Name <p-sortIcon field="fullName" /></th>
        <th pSortableColumn="chatsCount">Chats Count <p-sortIcon field="chatsCount" /></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.fullName }}</td>
        <td>{{ client.chatsCount }}</td>
        <td>
          <p-button label="Show assigned chats" (onClick)="navigateToClient(client.id)"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
<ng-template #unauthorized>
  UNAUTHORIZED
</ng-template>
