<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">XRun</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ng-container *ngIf="authService.isLoggedIn(); else login">
          <ng-container *ngIf="authService.isAdmin()">
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/clients']"
                >Get clients</a
                >
              </li>
            </ul>
            <ul class="navbar-nav flex-grow">
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/chats']"
                >Get chats</a
                >
              </li>
            </ul>
          </ng-container>
          <ul *ngIf="!authService.isAdmin()" class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a style="cursor: pointer;" class="nav-link text-dark" (click)="navigateToAssignedChats()"
              >Get assigned chats</a
              >
            </li>
          </ul>
            Hi {{ authService.getName() }}!
        </ng-container>
        <ng-template #login>
          <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
