@import "primeng/resources/themes/lara-light-blue/theme.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif !important;
}

p-dialog .p-dialog {
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 15px 209px 59px 0px rgba(0, 0, 0, 0),
    10px 134px 54px 0px rgba(0, 0, 0, 0.01),
    5px 75px 45px 0px rgba(0, 0, 0, 0.05), 2px 33px 33px 0px rgba(0, 0, 0, 0.09),
    1px 8px 18px 0px rgba(0, 0, 0, 0.1);
    height: auto !important;

  .p-dialog-header {
    background-color: #f9f9f9;
    padding: 4px 16px;
    border-bottom-color: transparent;
  }

  .p-dialog-content {
    padding-top: 16px;

    .dialog-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 4px;
      background-color: #eee0ff;
      outline: 6px solid #f6f0ff;
      border-radius: 100%;
      margin-bottom: 16px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    h1 {
      color: var(--Gray-900, #101828) !important;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
    }

    p {
      color: #5f6773;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18.4px; /* 171.429% */
    }

    .button-container {
        display: flex !important;
    }
  }
}

.p-button {
  background-color: #6156d9;
  border: none;

  .p-button-label {
    font-weight: 500;
    color: white;
  }
}
